body {
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  /*margin-right: 0.2em;
  margin-left: 0.2em;*/

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 30px;
    line-height: 24px;
}
h2 {
    font-size: 21px;
    line-height: 26px;
 }
.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0px 15px 5px rgba(0, 1, 1, 0.2);
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-header {
    position: relative;
}
.main-header .logo {
    position: absolute;
    left: 531px;
}
.navigation ul {
    margin: 0;
    padding: 0 6%;
    list-style: none;
    font-size: 0px;
}
.navigation li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 15px 0px;
    font-size: 14px;
    line-height: 26px;
}
.navigation li:nth-child(1),
.navigation li:nth-child(2) {
    float: left;
}
.navigation li:nth-child(4),
.navigation li:nth-child(3) {
    float: right;
    text-align: right;
}
.navigation li:nth-child(2) {
    padding-left: 30px;
}
.navigation li:nth-child(4) {
    padding-right: 31px;
}
.navigation  a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.navigation  a:hover {
    color: #a3c7de;
}
.navigation  a:active {
    color: #b2b2b2;
}
.navigation  a.active {
    color: #766357;
}
.navigation  a.active:hover {
    color: #604e43;
}
.navigation  a.active:active {
    color: #d6d0cc;
}
.index-logo {
    width: 1200px;
    height: 508px;
}
.index-logo img {
    width: 1200px;
    height: 508px;
}
.index-slogan {
    width: 50%;
    margin: 60px auto 54px;
    text-align: center;
}
.index-slogan h2 {
    margin-bottom: 25px;
}
.index-slogan p {
    line-height: 26px;
}
.features {
    width: 1200px;
    line-height: 0;
}
.features-one-part {
    float: left;
    width: 300px;
    padding-top: 52px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    line-height: 21px;
}
.features-name {
    width: 51%;
    margin: 0 auto;
    font-size: 21px;
}
.bg-town {
    min-height: 256px;
    color: #ffffff;
    background: #81b3d2 url("../img/town.jpg") no-repeat;
    background-size: cover;
    background-position: 400px 0px;
}
.bg-position {
    float: right;
}
.bg-bridge {
    min-height: 256px;
    color: #ffffff;
    background: #81b3d2 url("../img/bridge.jpg") no-repeat;
    background-size: cover;
    background-position: right 400px top 0px;
}
.features-bggray {
    padding-bottom: 35px;
    background-color: #eeeeee;
}
.gray {
    padding-top: 48px;
}
.features-one-part h3,
.features-one-part p {
    margin-bottom: 25px;
}
.features-one-part .space {
    margin-bottom: 20px;
}
.features-one-part.big {
    padding-top: 60px;
    padding-bottom: 55px;
}
.features-icon {
    width: 76px;
    height: 76px;
    margin: 0 auto 25px;
}
.search {
    position: relative;
    width: 568px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}
.search h2 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 24px;
}
.search p {
    margin-bottom: 45px;
    line-height: 24px;
}
.search-btn {
    width: 568px;
    margin: 0 auto;
    padding: 30px 0px;
    color: #ffffff;
    background-color: #766357;
    cursor: pointer;
}
.search-btn a {
    font: inherit;
    font-size: 21px;
    text-decoration: none;
    line-height: 26px;
    color: #ffffff;
    background-color: #766357;
    cursor: pointer;
}
.search-form {
    position: absolute;
    top: 100%;
    z-index: 20;
    width: 568px;
    margin:0 auto;
    padding: 55px;
    font-size: inherit;
    line-height: 26px;
    box-sizing: border-box;
    box-shadow: 0 7px 7px 3px rgba(0, 1, 1, 0.1);
    background-color: #ffffff;
    display: none;
}
@keyframes app {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}
.search-form-on {
    display: block;
    animation: app 0.5s;
}

.details {
    position: relative;
    padding-bottom: 30px;
}
.details label {
    margin-right: 20px;
    font-weight: bold;
}
.date input[type="text"] {
    width: 340px;
    height: 38px;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
    padding: 0 13px;
    padding-right: 35px;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-color: #f2f2f2;
}
.date input[type="text"]:hover {
    background-color: #ebebeb;
    border: 2px solid transparent;
}
.date input[type="text"]:focus {
    padding: 0 13px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}
.details .icon {
    position: absolute;
    bottom: 37px;
    right: 10px;
    font-size: 21px;
    line-height: 26px;
}
.icon-calendar::before {
    color: #c2c2c2;
}
.icon-calendar:hover::before {
    color: #000000;
}
.icon-calendar:active::before {
    color: #81b3d2;
}
.details-part {
    float: left;
    width: 229px;
}
.details-part:last-child {
    float: right;
}
.details-part .btn {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 -4px;
    font-size: 14px;
    line-height: 38px;
    color: #a9a9a9;
    vertical-align: middle;
    background-color: #f2f2f2;
}
.details-part .btn:hover {
    color: #000000;
    cursor: pointer;
}
.details-part .btn:active {
    color: #81b3d2;
}

.details-part label {
    margin-right: 43px;
}
.details-part:last-child label {
    margin-right: 35px;
    margin-left: 45px;
}
.details-part input[type="text"] {
    width: 37px;
    height: 38px;
    padding-left: 14px;
    font: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 38px;
    box-sizing: border-box;
    vertical-align: middle;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
    outline: none;
}
.details-part input[type="text"]:hover {
    border: none;
    outline: none;
}
.details-part input[type="text"]:focus {
    padding-left: 14px;
    border: none;
    outline: none;
}

.search-form input[type="submit"] {
    width: 100%;
    margin-top: 25px;
    padding: 15px 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}
.search-form input[type="submit"]:hover {
    background-color: #669ec0;
}
.search-form input[type="submit"]:active {
    color: #88b6d1;
    background-color: #5496bd;
}
.map {
    width: 1200px;
    height: 593px;
    background: rgba(254, 254, 254, 0.5) url("../img/new-map.png") no-repeat;
}
.footer-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(254, 254, 254, 0.9);
}
.footer-layout {
    position: relative;
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 35px 0;
}
.footer-layout > span {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    padding-right: 115px;
    font-weight: normal;
    line-height: 26px;
}
.footer-layout .visitsedona {
    font-size: 21px;
    font-weight: bold;
    padding-right: 0px;
}
.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    font-size: 0px;
    background-color: #81b3d2;
    text-align: center;
}
.social-btn {
    text-decoration: none;
}
.social-btn span {
    font-size: 19px;
    line-height: 48px;
    color: #ffffff;
}
.social-btn:hover {
    background-color: #669ec0;
}
.social-btn:active {
    background-color: #5496bd;
}
.social-btn:active span {
    color: #88b6d1;
}
.developer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 113px;
    height: 39px;
    margin-left: -12px;
    margin-top: -14px;
    background: transparent url("../img/logo-htmlacademy.png") no-repeat;
}
.developer:hover::after {
    background: transparent url("../img/htmlacademy-hover.png") no-repeat;
}
.developer:active::after {
    background: transparent url("../img/htmlacademy-active.png") no-repeat;
}
.date input.search-form-error {
    border: 2px solid red;
}
/*--------------------catalog.html------------------------------------*/

.search-options {
    width:1200px;
    min-height: 217px;
    color: #ffffff;
    background: #4d7faa url("../img/catalog-logo.jpg") no-repeat;
    background-size: cover;
}
.search-options form {
    width: 1060px;
    margin: 0 auto;
    padding: 25px 0;
}
.filter {
    float: left;
    width: 257px;
}
.filter:last-child {
    float: right;
    width: 320px;
}
.filter .filter-item {
    padding-top: 25px;
}
.filter h3 {
    margin: 0;
    font-size: 16px;
}
.filter-item input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    display: block;
    padding-left: 40px;
    cursor: pointer;
}
input[type="checkbox"] + label::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -5px -69px;
}
input[type="checkbox"]:checked + label::before {
    width: 26px;
    height: 22px;
    background-position: -5px -37px;
}
input[type="checkbox"]:disabled + label::before {
    width: 22px;
    height: 22px;
    background-position: -5px -101px;
    cursor: default;
}
input[type="checkbox"]:disabled + label {
    cursor: default;
}
input[type="checkbox"]:checked:disabled + label::before {
    width: 26px;
    height: 22px;
    background-position: -5px -133px;
    cursor: default;
}
input[type="checkbox"]:checked:disabled + label {
    cursor: default;
}
.filter-price {
    position: relative;
    height: 36px;
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.filter-price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.filter-price label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 38px;
    cursor: pointer;
}
.filter-price .min-price,
.filter-price .max-price {
    width: 90px;
    padding-left: 65px;
}
.filter-price input {
    width: 50px;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}
.filter-controls {
    position: relative;
    margin-bottom: 32px;
}
.filter-controls .scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}
.filter-controls .bar {
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
}
.filter-controls .toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.filter-controls .toggle-min {
    left: 0;
}
.filter-controls .toggle-max {
    left: 80%;
}
.filter-controls .toggle:hover {
    background-color: #1c4f80;
}
.btn-transparent {
    display: block;
    margin: 0 85px;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000000;
    background-color: #ffffff;
}
.content {
    width: 1200px;
    margin: 0 auto;
}
.content-item {
    padding: 25px 70px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e5e5e5;
}
.content-item:first-child {
    padding: 30px 70px;
    padding-bottom: 30px;
}
.content .layout:first-child {
    float: left;
    width: 165px;
}
.content .layout:nth-child(2) {
    float: left;
    width: 655px;
}
.content .layout:last-child {
    float: right;
    width: 240px;
    text-align: right;
}
.layout .sort-caption {
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    font-size: 12px;
    line-height: 18px;
}
.layout .sort {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    font-size: 12px;
    line-height: 18px;
}
.sort li {
    display: inline-block;
    vertical-align: top;
    padding-left: 33px;
}
.layout a {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: bold;
    text-transform: inherit;
    text-decoration: none;
}

.sort a {
    font-weight: normal;
    color: #b2b2b2;
    text-decoration: none;
    border-bottom: 1px dotted #b2b2b2;
}
.sort a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.sort a:active {
    color: #000000;
    border-bottom: 1px dotted #000000;
}
.sort a.active {
    border-bottom: none;
    color: #81b3d2;
}
.icon-sort span {
    font-size: 23px;
    line-height: 20px;
    color: #cccccc;
}
.icon-sort span:hover {
    color: #000000;
}
.icon-sort span.active,
.icon-sort span.active:hover {
    color: #81b3d2;
}
.layout img {
    width: 135px;
    height: 90px;
}
.content-item .top {
    margin-top: 3px;
}
.layout .hotel-name {
    color: #000000;
}
.layout .hotel-name:hover {
    color: #81b3d2;
}
.layout .hotel-name:active {
    color: #cacaca;
}
.hotel-details {
    float: left;
    width: 112px;
}
.hotel-reserve {
    float: left;
    width: 145px;
    margin-left: 7px;
}
.layout h2 {
    margin: 0;
}
.hotel-details p,
.hotel-reserve p {
    margin: 0;
    padding: 8px 0 15px;
    color: #333333;
}
.hotel-details .btn,
.hotel-reserve .btn {
    padding: 4px 17px;
    color: #ffffff;
}
.btn-details {
    background-color: #81b3d2;
}
.btn-details:hover {
    background-color: #669ec0;
}
.btn-details:active {
    color: #88b6d1;
    background-color: #5496bd;
}
.btn-rezerve {
    background-color: #766357;
}
.btn-rezerve:hover {
    background-color: #604e43;
}
.btn-rezerve:active {
    color: #766860;
    background-color: #503e33;
}
.icon-rating .icon-star {
    font-size: 20px;
    line-height: 23px;
    color: #81b3d2;
}
.layout .rating {
    position: relative;
}
.rating span {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 40px;
    right: 0px;
    height: 21px;
    padding: 5px 15px;
    text-align: right;
    font-weight: normal;
    background-color: #f2f2f2;
}
